doctype html
html(lang='ru')
	head
		include layout/head.pug
		block title
			title Canvas
	body

		//CANVAS
		include layout/canvas.pug		

		//SCRIPT
		include layout/scripts.pug



	